@import 'tailwindcss' source('../views/');

@theme {
  --font-Vazirmatn: 'Vazirmatn', sans-serif;
  --color-purple-500: #6e6eff;
  --color-background: #1c1e26;
  --color-dark100: #bcbdc1;
  --color-dark800: #16171e;
  --color-dark600: #242631;
  --color-green400: #a3ffa6;
  --color-light600: #e2e2dc;
  --color-purple-600: #6464E8;
  --color-white-hv: #EAEAEB;
  --color-dark-100: #BCBDC1;
  --color-purple-800: #424299;
  --color-gray-700: #696969;
  --color-blue-box: #24A1DE	; 
  --color-bg-footer: #1C1E26;
  --color-text-footer: #8C94A3;

  --inset-shadow-bt: inset -2px 2px 8px rgb(0, 0, 0, 0.25);
  --shadow-bt: 0 2px 4px rgb(0, 0, 0, 0.25);
  --shadow-bs: 0 2px 8px rgba(162, 89, 255, 0.25);
  --shadow-hover: 4px 4px 4px rgba(162, 89, 255, 0.25);
  --shadow-hover-box: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-box: 2px 2px 8px rgba( 255, 255, 255, 0.25);
  --inset-shadow-hover: inset 2px -2px 8px rgba(0, 0, 0, 0.25);
  --inset-shadow-box: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
  --shadow-up-purple: 0 -4px 8px rgba(110, 110 , 255, 0.75);
}

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
